<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.atv</string>
	<key>PlexClientPlatforms</key>
	<string>*</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Content</string>
	<key>PlexURLServices</key>
	 <dict>
	   <key>ATV</key>
	   <dict>
	     <key>Identifier</key>
	     <string>com.plexapp.plugins.atvurlservice</string>
	     <key>URLPattern</key>
	     <string>^http://atv.at/player_playlist_page_json/.+</string>
	     <key>TestURLs</key>
	     <array>
	       <string>http://atv.at/contentset/3092839-24-stunden---soko-ost/3161808</string>
	     </array>
	   </dict>
	 </dict>

</dict>
</plist>
